body {
    background-color: black;
    display: grid;
    grid-template-rows: auto auto 90px 600px;
    grid-template-columns: 180px 120px 50% 30%;
    grid-template-areas:
        "Header Header Header Header"
        "Description Description Description Description"
        "Searchbar Searchbar TeamSelector SaveOrNew"
        "Results Results Content Content";
}

.widgets {
    color: white;
    padding-left: 1em;
    grid-area: SearchBar;
}

header {
    grid-area: Header;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 64px;
    font-family: sans-serif;
    color: yellow;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(251, 251, 251);
}

#Description {
    grid-area: Description;
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
    padding: 5px 30px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(251, 251, 251);
}

search {
    grid-area: Searchbar;
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(251, 251, 251);
}

#TeamSelector {
    grid-area: TeamSelector;
    display: flex;
}

#SaveOrNew {
    grid-area: SaveOrNew;
    display: flex;
    padding-left: 5px;
    padding-top: 15px;
}

#content {
    grid-area: Content;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(251, 251, 251);
}

#results {
    color: white;
    grid-area: Results;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(251, 251, 251);
}

button {
    display: inline-block;
    cursor: pointer;

    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 10px 18px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    font-size: 9.5pt;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    font-family: sans-serif;
    text-decoration: none;
}

/*button.green {
    border-color: #3e3e3e;
    background: #5a5aa9;
}

button:hover {
    background: #ff7474;
}

button:active {
    background: #ff0000;
    box-shadow: 0 0 6px rgba(0, 0, 0, .6);
}

button:focus {
    outline: 0;
} */

.result {
    /* max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: grey;
    color: black;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px; */

    max-width: 300px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "Image Name Name Types Abilities Abilities"
        "HPLabel AttackLabel DefenseLabel SpecialAttackLabel SpecialDefenseLabel SpeedLabel"
        "BaseHP BaseAttack BaseDefense BaseSpecialAttack BaseSpecialDefense BaseSpeed";
    background-color: grey;
    color: black;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
}

.resultsprite {
    grid-area: Image;
}

.resultname {
    grid-area: Name;
}

.type {
    width: 85px;
    height: 1.2em;
    text-align: center;
    text-shadow: 2px 2px 3px white;
    border-style: solid;
    border-radius: 1px;
    border-width: 1px;
}

.types {
    display: flex;
    flex-direction: column;
}

.resultabilities {
    grid-area: Abilities;
}

.ResultHPLabel {
    grid-area: HPLabel;
}

.ResultAttackLabel {
    grid-area: AttackLabel;
}

.ResultDefenseLabel {
    grid-area: DefenseLabel;
}

.ResultSpecialAttackLabel {
    grid-area: SpecialAttackLabel;
}

.ResultSpecialDefenseLabel {
    grid-area: SpecialDefenseLabel;
}

.ResultSpeedLabel {
    grid-area: SpeedLabel;
}

.ResultBaseHP {
    grid-area: BaseHP;
}

.ResultBaseAttack {
    grid-area: BaseAttack;
}

.ResultBaseDefense {
    grid-area: BaseDefense;
}

.ResultBaseSpecialAttack {
    grid-area: BaseSpecialAttack;
}

.ResultBaseSpecialDefense {
    grid-area: BaseSpecialDefense;
}

.ResultBaseSpeed {
    grid-area: BaseSpeed;
}

.AddedPokémon {
    background-color: grey;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    border-width: 2px;
    display: grid;
    font-size: 16px;
    grid-template-columns: 1/5 1/5 1/5 1/5 1/5;
    grid-template-rows: 40px auto 40px auto auto auto auto auto auto;
    grid-template-areas:
        "Delete Name Nickname Level Types"
        "Image Image Moves Moves Moves"
        "Ability Ability HeldItem HeldItem Nature"
        "BaseHP HPIVs HPEVs HPEVs HP"
        "BaseAttack AttackIVs AttackEVs AttackEVs Attack"
        "BaseDefense DefenseIVs DefenseEVs DefenseEVs Defense"
        "BaseSpecialAttack SpecialAttackIVs SpecialAttackEVs SpecialAttackEVs SpecialAttack"
        "BaseSpecialDefense SpecialDefenseIVs SpecialDefenseEVs SpecialDefenseEVs SpecialDefense"
        "BaseSpeed SpeedIVs SpeedEVs SpeedEVs Speed";
}

.delete {
    grid-area: Delete;
    border-color: #3e3e3e;
    background: #5a5aa9;
}

.AddedPokémonName {
    grid-area: Name;
    text-align: center;
}

.PokémonNameValue {
    display: none;
}

.NicknameBar {
    grid-area: Nickname;
}

.LevelBar {
    grid-area: Level;
}

.AddedPokémonTypes {
    grid-area: Types;
    display: flex;
    justify-content: space-between;
}

.AddedPokémonSprite {
    grid-area: Image;
}

.Moves {
    grid-area: Moves;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.AbilityBar {
    padding-top: 15px;
    grid-area: Ability;
    padding-bottom: 5px;
}

.ItemBar {
    padding-top: 15px;
    grid-area: HeldItem;
    padding-bottom: 5px;
}

.NatureBar {
    padding-top: 15px;
    grid-area: Nature;
    padding-bottom: 5px;
}

.AttackMultiplier {
    display: none;
}

.DefenseMultiplier {
    display: none;
}

.SpecialAttackMultiplier {
    display: none;
}

.SpecialDefenseMultiplier {
    display: none;
}

.SpeedMultiplier {
    display: none;
}

.BaseHP {
    grid-area: BaseHP;
}

.HPIVs {
    grid-area: HPIVs;
    display: flex;
}

.HPEVs {
    grid-area: HPEVs;
    display: flex;
}

.TrueHP {
    grid-area: HP;
}

.BaseAttack {
    grid-area: BaseAttack;
}

.AttackIVs {
    grid-area: AttackIVs;
    display: flex;
}

.AttackEVs {
    grid-area: AttackEVs;
    display: flex;
}

.TrueAttack {
    grid-area: Attack;
}

.BaseDefense {
    grid-area: BaseDefense;
}

.DefenseIVs {
    grid-area: DefenseIVs;
    display: flex;
}

.DefenseEVs {
    grid-area: DefenseEVs;
    display: flex;
}

.TrueDefense {
    grid-area: Defense;
}

.BaseSpecialAttack {
    grid-area: BaseSpecialAttack;
}

.SpecialAttackIVs {
    grid-area: SpecialAttackIVs;
    display: flex;
}

.SpecialAttackEVs {
    grid-area: SpecialAttackEVs;
    display: flex;
}

.TrueSpecialAttack {
    grid-area: SpecialAttack;
}

.BaseSpecialDefense {
    grid-area: BaseSpecialDefense;
}

.SpecialDefenseIVs {
    grid-area: SpecialDefenseIVs;
    display: flex;
}

.SpecialDefenseEVs {
    grid-area: SpecialDefenseEVs;
    display: flex;
}

.TrueSpecialDefense {
    grid-area: SpecialDefense;
}

.BaseSpeed {
    grid-area: BaseSpeed;
}

.SpeedIVs {
    grid-area: SpeedIVs;
    display: flex;
}

.SpeedEVs {
    grid-area: SpeedEVs;
    display: flex;
}

.TrueSpeed {
    grid-area: Speed;
}